/* Core Styles */
body
{
  font: 10pt Arial, Verdana, Helvetica, sans-serif;
  color: #555;
  margin:0;
}

/* Horizontal Scrolling Div
   Following is added for IE by JavaScript
   overflow-y: hidden
   padding-bottom: 20px
*/
div.scrollX { overflow-x: auto; border: 0px;  padding-bottom: 0px;  }

/* HR Style */
.break {  margin: 0px; }


#page #report h1 { font-size: 12pt; text-align: left; }
#page div.when { margin-left: 2em; margin-top: 0.5em; font-size: 10pt; font-weight: bold;}


/* =========================*/
/* Filter Definitions       */
/* =========================*/
#currentReport div.wshen { margin-left: 2em; margin-top: 0.5em; font-size: 10pt; font-weight: bold;}
table.filters { font-size:10pt;}
table.filters { margin-left: 2em; padding: 0; border: 0; }
table.filters td.l { font-weight: bold; padding: 0; padding-right: 0.75em;}


/* === Page Top ==== */
div.top-bar { position: absolute; top: 0px; left: 0px; right: 0px; height: 100px;  }

/* Page Headings */
div.top-bar h1 { font-size: 14pt; margin-left: 160px;}
div.top-bar h2 { font-size: 12pt;  }
div.top-bar .when { margin-left: 160px; font-size: 12pt; margin-top: -0.2em; font-weight: bold;}
div.top-bar .gen { margin-left: 160px; font-size: 10pt; margin-top: 0.5em;}

/* Logo */
div.top-bar div.logo { position: absolute; top: 10px; left: 10px; z-index: 1;}
div.top-bar div.logo img { width: 100px;}
div.top-bar div.logo p { font-size: 7pt;  margin-top: -7px; margin-left: 21px;}

/* === Page Bottom ==== */
#bottom { position: absolute; top: 115px; left: 0px; right: 0px; bottom: 10px;  }
