<?xml version="1.0" encoding="ISO-8859-1"?>
<!--Edited using Gateway Setup Editor version GA2011.2.1-110804 at 2011-08-09 15:15:04 by lperego on ITRSLP009-->
<!-- Gateway-created setup include file for user ActiveConsole1 at 192.168.0.1 -->
<gateway compatibility="1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://schema.itrsgroup.com/GA2011.2.1-110715/gateway.xsd">
	<rules>
		<ruleGroup name="Hardware">
			<rule name="CPU">
				<targets>
					<target>/geneos/gateway/directory/probe[(@name=&quot;GenericProbe2&quot;)]/managedEntity/sampler[(@name=&quot;CPU&quot;)][(@type=&quot;Hardware&quot;)]/dataview[(@name=&quot;CPU&quot;)]/rows/row[(@name=&quot;Average_cpu&quot;)]/cell[(@column=&quot;percentUtilisation&quot;)]</target>
				</targets>
				<priority>1</priority>
				<activeTime>
					<activeTime ref="DEMO1"/>
				</activeTime>
				<block>
					<if>
						<gt>
							<dataItem>
								<property>@value</property>
							</dataItem>
							<integer>90</integer>
						</gt>
						<transaction>
							<update>
								<property>state/@severity</property>
								<severity>critical</severity>
							</update>
						</transaction>
						<if>
							<gt>
								<dataItem>
									<property>@value</property>
								</dataItem>
								<integer>80</integer>
							</gt>
							<transaction>
								<update>
									<property>state/@severity</property>
									<severity>warning</severity>
								</update>
							</transaction>
							<transaction>
								<update>
									<property>state/@severity</property>
									<severity>ok</severity>
								</update>
							</transaction>
						</if>
					</if>
				</block>
			</rule>
			<rule name="Disk Space">
				<targets>
					<target>/geneos/gateway/directory/probe/managedEntity/sampler[(@name=&quot;Disk&quot;)][(@type=&quot;Hardware&quot;)]/dataview[(@name=&quot;Disk&quot;)]/rows/row[(@name=&quot;/&quot;)]/cell[(@column=&quot;percentageUsed&quot;)]</target>
				</targets>
				<priority>1</priority>
				<activeTime>
					<activeTime ref="DEMO2"/>
				</activeTime>
				<block>
					<if>
						<gt>
							<dataItem>
								<property>@value</property>
							</dataItem>
							<integer>90</integer>
						</gt>
						<transaction>
							<update>
								<property>state/@severity</property>
								<severity>critical</severity>
							</update>
						</transaction>
						<if>
							<gt>
								<dataItem>
									<property>@value</property>
								</dataItem>
								<integer>80</integer>
							</gt>
							<transaction>
								<update>
									<property>state/@severity</property>
									<severity>warning</severity>
								</update>
							</transaction>
							<transaction>
								<update>
									<property>state/@severity</property>
									<severity>ok</severity>
								</update>
							</transaction>
						</if>
					</if>
				</block>
			</rule>
			<rule name="Net">
				<targets>
					<target>/geneos/gateway/directory/probe/managedEntity/sampler[(@name=&quot;Network&quot;)][(@type=&quot;Hardware&quot;)]/dataview[(@name=&quot;Network&quot;)]/rows/row/cell[(@column=&quot;percentCollisions&quot;)]</target>
				</targets>
				<priority>1</priority>
				<block>
					<if>
						<gt>
							<dataItem>
								<property>@value</property>
							</dataItem>
							<integer>90</integer>
						</gt>
						<transaction>
							<update>
								<property>state/@severity</property>
								<severity>critical</severity>
							</update>
						</transaction>
						<if>
							<gt>
								<dataItem>
									<property>@value</property>
								</dataItem>
								<integer>80</integer>
							</gt>
							<transaction>
								<update>
									<property>state/@severity</property>
									<severity>warning</severity>
								</update>
							</transaction>
							<transaction>
								<update>
									<property>state/@severity</property>
									<severity>ok</severity>
								</update>
							</transaction>
						</if>
					</if>
				</block>
			</rule>
		</ruleGroup>
	</rules>
</gateway>