<geneosWebServer>
	<dashboardDefaults>
		<updateRate>5</updateRate>
		<dashboardRefreshRate>3</dashboardRefreshRate>
		<tileSize>
			<width>200</width>
			<height>200</height>
		</tileSize>
	</dashboardDefaults>
<tree><group name="Equity Trading"><dashboard name="Equity Trading"></dashboard></group></tree><slideshows/><gatewayConnections><gatewayConnection name="Gateway"><enabled>true</enabled><primary><host>192.168.142.20</host><port>7050</port></primary><secondary><host></host><port></port></secondary><description></description><user></user><password></password></gatewayConnection><gatewayConnection name="Gateway"><enabled>false</enabled><primary><host>localhost</host><port>7039</port></primary><secondary><host></host><port></port></secondary><description></description><user></user><password></password></gatewayConnection></gatewayConnections><dashboards><dashboard name="Equity Trading" path="/opt/geneos/webserver/webservers/UK_LDN_DEMO_PS_P01/dashboards/uploaded/CE Trading Example.adb"/></dashboards></geneosWebServer>